

  body, html {
    background-color: transparent;
    /* The image used */
    background-color: #333;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    
}


   





.jumbotron {

background-color: transparent;
text-align: center;
height: 250px;
max-width: 100%;

}

.container {
    text-align: center;
    background-color: #333;
}

  #articles {
    text-align: center;

    max-width: 100%;
    color: cornflowerblue;

    overflow-y: scroll;
    height: 700px;
    position: relative;

    background: rgb(34, 32, 39);  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgb(68, 68, 61), rgb(34, 32, 39));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgb(45, 46, 37), rgb(34, 32, 39)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-spacing: 12px;
padding: 15px;
border-radius: 20px;
  }

  #notes {
  text-align: center;
    

  }

  textarea, input {
    border-radius: 15px;
    border-spacing: 12px;
    padding: 20px;
    min-width: 100%;
    max-width: 100%;
    display: block;
    background-color: rgb(34, 30, 6);
    color:  white;
  }



  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    display:block;
    background-attachment: fixed;
    font-size: 18px;
    position: sticky; }

footer {

  text-align: center;
  background-color:  transparent;
  color: #333;
}


::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: cornflowerblue; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

h3 { color: black;}
h4  { color: wheat;}
h1  { color: wheat;}
h2   { color: wheat;}
h5  { color: wheat;}

p2 {

  font-weight: bolder;
  font-size: 14pt;
  color: white;
}

  .btn-info {

  width: 220px;  
    text-align: center;


}